/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 body {
   background-color: rgb(85, 253, 43);
 }

.grid-container {
    display: grid;
    grid-template-columns: [day] 5em [time] 5em [name] auto [place] auto;
    grid-gap: 2px;
    background-color: #2196F3;
    padding: 2px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    vertical-align: center;
    padding: 2px 0;
    font-size: 12px;
    /* border: 2px solid rgba(170, 50, 220, .6); */
  }
  
  .before-grid{
    font-size: 14px;
    font-weight: 600;
  }

  #event_data{
    display: none;
    /* background-color: rgba(5, 255, 255, 0.8); */
    /* text-align: center; */
    vertical-align: center;
    padding: 2px 0;
    font-size: 12px;
    color: black;

  }

  