/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 /* whole table */

/* ------------------------------------------------------------------------- */
 .admin-grid-container {
    display: grid;
    grid-template-columns: 5em 3em 3em 8em auto auto 5em 3em;
    grid-gap: 2px;
    background-color: #f5f5f841;
    padding: 2px;
    margin: 1em;
  }
  
  .admin-grid-container-div-th  {
    background-color: rgba(17, 173, 245, 0.123);
    text-align: center;
    vertical-align: center;
    padding-left:10px;
    padding-right:10px;
    margin: 2px;
  }
  
  .admin-grid-container-div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: center;
    margin: 2px;
  }
  
  .admin-grid-container-div-ed  {
    background-color: white;
    text-align: left;
    vertical-align: center;
    padding-left:10px;
    padding-right:10px;
    margin: 2px;
  }
  
.btn_copy{
  background-color: rgb(113, 250, 227);
  text-align: center;
  font-weight: bold;
}
.btn_copy:hover{
  background-color: rgb(117, 250, 28);
  cursor: pointer;
}

.btn_del{
  background-color: rgb(246, 202, 131);
  text-align: center;
  font-weight: bold;
}
.btn_del:hover{
  background-color: rgb(245, 52, 52);
  cursor: pointer;

}

 .adm-button
  {
      text-align: center;
      display: inline;
      padding-right: 8 px;
      padding-left: 8 px;
      margin-right: 10%;
      margin-left: 10%;
      background-color: rgba(55, 55, 55, 0.1);
      cursor: pointer;
      border-radius: 5px;
  }
  


  /* ***************************  Form ******************************************/
 